{{ define "main" }}


{{ $currentLang := .Site.Language.Lang }}

<section>
  <div class="bg bg-image2" id = "top">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7 pt-120 mt-md-0 pt-md-60">
          <h1 class="font-white font-40 font-md-64 font-md-lnh68 font-weight-black pt-120 pt-md-20 pb-20">
            {{ .Params.heading | safeHTML }}
          </h1>        
          <p class = "font-white font-20 font-lnh28 pb-20">{{ .Params.perex | safeHTML }}</p>
          <div>

            <a href="#benefits" class="smooth cta-button font-lnh54 px-50 mb-30 mb-md-0 d-inline-block font-weight-bold font-font2 font-white bg-purple">{{ i18n "learn_more" }}</a>
            
            
        </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section>
  <div class="text-md-left pt-60 pb-60">
      <div class="container">
          <div class="row justify-content-center">
              <!--<div class="pb-30 col-12 text-center">
                  <h2 class = "font-30 font-md-42 pt-50 font-weight-black text-center">{{ i18n "benefits_of" }} {{ .Params.heading }}</h2>
                  <p class="font-20 font-lnh24">{{ i18n "benefits_conditions" }}</p>
              </div>-->
              <div class = "col-12">
                <div class = "row">
                    <div class="col pb-30">
                        <div class="row justify-content-center align-items-center">
      
                            <div class = "col-3 col-md-1 text-right pb-20 pb-md-0">
                                <img loading="lazy" src="/_assets/images/benefits/inspiration.svg" class="w-100 mt-20" alt="" />
                            </div>
                            <div class = "col-9 col-md-3 pb-20 pb-md-0">
                                <h3 class="font-20 font-weight-black font-lnh30">Snadné zapojení</h3>
                                <p class="font-16 font-lnh24">Zapojení pro programu je snadné. Stačí STEM věnovat jednu hodinu týdně, nejlépe v pátek.</p>
                            </div>

                            <div class = "col-3 col-md-1 text-right pb-20 pb-md-0">
                              <img loading="lazy" src="/_assets/images/benefits/blockchain.svg" class="w-100 mt-20" alt="" />
                          </div>
                          <div class = "col-9 col-md-3 pb-20 pb-md-0">
                              <h3 class="font-20 font-weight-black font-lnh30">Připravený výukový plán</h3>
                              <p class="font-16 font-lnh24">V připravených STEM lekcích využíváme pedagogický rámec navržený s odborníky EDvisor Finland.</p>
                          </div>

                          <div class = "col-3 col-md-1 text-right pb-20 pb-md-0">
                            <img loading="lazy" src="/_assets/images/benefits/programming.svg" class="w-100 mt-20" alt="" />
                        </div>
                        <div class = "col-9 col-md-3 pb-20 pb-md-0">
                            <h3 class="font-20 font-weight-black font-lnh30">Osobní podpora</h3>
                            <p class="font-16 font-lnh24">Poskytneme vám odbornou technickou i pedagogickou podporu pro vyučující.</p>
                        </div>
                </div>
            </div>
      </div>
  </div>
</section>

<section>
  <div class="container">
    
      <div class="row align-items-center pb-10">
          
         <div class="col-12 col-md-8 col-lg-6 mx-auto text-center">
              <div class="font-grayLined font-gray2 mb-30 font-font2 font-weight-bold font-15"><span>{{ i18n "references" | safeHTML }}</span></div>
         </div>
          <div class="col-12 text-center">
            <!--<h2 class="text-center font-weight-black font-19 font-md-19 font-md-lnh24 font-font2 font-gray">Program vyrobni.report již využívají</h2>
            -->            
                <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="190" src="/_assets/images/unicorn.png" alt="" />
              </span>
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="190" src="/_assets/images/sps-liberec.svg" alt="" />
              </span>
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="190" src="/_assets/images/czechitas.png" alt="" />
              </span>
          </div>
          <!--<div class = "col-12 text-center pt-40">
              <a href="{{ "case-studies/" | absLangURL }}" class="d-block d-md-inline-block font-lnh24 py-15 px-10 px-md-50 d-inline-block font-weight-bold font-font2 font-white bg-red">{{ i18n "other_case_studies" }}</a>
          </div>-->
      </div>
  </div>
</section>

<section>
  <div class="bg bg--gray" id = "how">
      <div class="container py-30">
        <div class="row">
          <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
              <h2 class="text-center pb-20 font-weight-black pt-60 font-38 font-md-56">{{ i18n "start_together" | safeHTML }}</h2>
          </div>
      </div>
          <div class="row">
            <div class = "col-12 col-md-6">
              <img src = "/_assets/images/process-1.jpg" id = "collapsor-image" class = "img-fluid pt-40" />
            </div>
              <div class="col-12 col-md-6">
                
                  <div class="collapsor pt-10" id = "process">
                    <div class="collapsor__item" img-url = "/_assets/images/process-1.jpg">
                      <h3 class="collapsor__header collapsor__header--active">{{ i18n "step_1" | safeHTML }}</h3>
                      <div class="collapsor__body collapsor__body--active">
                        {{ i18n "step_1_desc" | safeHTML }}
                      </div>
                  </div>
                  
                  <div class="collapsor__item" img-url = "/_assets/images/process-2.jpg">
                      <h3 class="collapsor__header">{{ i18n "step_2" | safeHTML }}</h3>
                      <div class="collapsor__body">
                        {{ i18n "step_2_desc" | safeHTML }}
                      </div>
                  </div>
                  <!--
                  <div class="collapsor__item" img-url = "/_assets/images/process-3.JPG">
                    <h3 class="collapsor__header">{{ i18n "step_3" | safeHTML }}</h3>
                    <div class="collapsor__body">
                      {{ i18n "step_3_desc" | safeHTML }}
                    </div>
                </div>-->

                  <div class="collapsor__item" img-url = "/_assets/images/process-4.jpg">
                    <h3 class="collapsor__header">{{ i18n "step_4" | safeHTML }}</h3>
                    <div class="collapsor__body">
                      {{ i18n "step_4_desc" | safeHTML }}
                    </div>
                </div>
                  
                <div class="collapsor__item" img-url = "/_assets/images/process-5.jpg">
                  <h3 class="collapsor__header">{{ i18n "step_5" | safeHTML }}</h3>
                  <div class="collapsor__body">
                    {{ i18n "step_5_desc" | safeHTML }}
                  </div>
              </div>

              <a href="#meeting" class="smooth cta-button font-lnh54 mt-30 ml-30 px-50 mb-30 mb-md-0 d-inline-block font-weight-bold font-font2 font-white bg-purple">{{ i18n "make_appointment" | safeHTML }}</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

<script>
  $('#process .collapsor__item').click(function(){
    var image = $(this).attr('img-url');
    $('#collapsor-image').attr('src',image);
  });
</script>

</section>

<section>
  <div class="bg bg--gray bg--bubbles bg--borderedBottom" id = "pricelist">
      <div class="container">
          <div class="row">
              <div class="col">
                  <div class="pricelist pricelist--bottom-3-5">
                      <div class="row no-gutters">
                          
                          <div class="col-12">
                              <div class="pricelist__item pricelist__item--rec">
                                  <div class="pricelist__content">
                                      <div class="pricelist__rec">DOPORUČUJEME</div>
                                      <div class="logo logo--2"></div>
                                      <h3 class="pricelist__title">STEM sada pro jednu třídu</h3>

                                      <div class = "row">
                                        <div class = "col-5">
                                          <div class="pricelist__title2 text-uppercase">Sada obsahuje:</div>
                                          <ul class="pricelist__items">
                                            <li class="pricelist__items__item">10× Sada Start</li>
                                            <li class="pricelist__items__item">Sada Motion</li>
                                            <li class="pricelist__items__item">Sada Clime</li>
                                            <li class="pricelist__items__item">Sada Clime XL</li>
                                            <li class="pricelist__items__item">Sada Display</li>
                                            <li class="pricelist__items__item">Sada Control + LED pásek</li>
                                            <li class="pricelist__items__item">Sada Sensor + Senzor vlhkosti půdy</li>
                                            <li class="pricelist__items__item">Přístup k online lekcím</li>
                                            <li class="pricelist__items__item">Osobní podpora vyučujícím</li>
                                        </ul>
                                        <div class="pt-30 text-left font-gray2"><strike>44 200 CZK</strike></div>
                                        <div class="text-left pricelist__price">ZDARMA*</div>
                                        <div class="text-left font-gray2">* při uplatnění dotace MŠMT, jinak 39 900 CZK</div>
                                        </div>
                                        <div class = "col-7">
                                          <img src = "/_assets/images/process-2.jpg" class = "img-fluid"/>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<div id = "meeting">

<section>
  <div class = "container">
  <div class="row justify-content-center pt-60">
    <div class="col-12 col-md-12 col-lg-12 bg-darkGray py-30 mb-60">
        <div class = "row align-items-top">
          <div class = "col-12 col-md-4 pt-md-50 px-50">
              <img loading="lazy" src="/_assets/images/alan.png" class="w-75 w-md-100 rounded-circle d-block mx-auto img-fluid" alt="" />
              <p class = "font-white text-center pt-20">
              <strong>Alan Fabik</strong><br/>
              <a class = "font-white" href = "mailto:alan.fabik@hardwario.com">alan.fabik@hardwario.com</a><br/>
              {{ i18n "ceo" }} HARDWARIO</p>
          </div>
          <div class = "col-12 col-md-8 pt-30 pt-md-0 font-white">
          <h3 class = "font-32 font-weight-bold pb-20">{{ i18n "let_contact" }}</h3>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
          <script>
            hbspt.forms.create({
            region: "na1",
            portalId: "5453210",
            formId: "{{ .Params.form_id }}"
          });
          </script>
      </div>
  </div>
  </div>
  </div>
</section>
<section>
  <div class="">
      <div class="container">
          <div class="row">
              <div class="col">
                  <div class="row pt-30">
                    <div class="col-12 col-md-8 col-lg-6 mx-auto text-center">
                      <div class="font-grayLined font-gray2 mb-20 font-font2 font-weight-bold font-15"><span>{{ i18n "partners" }}</span></div>
                 </div>
                      <div class="col-12 mx-auto text-center">
                          <!--<h2 class="text-center font-weight-black font-19 font-md-19 font-md-lnh24 font-font2 font-gray">Partneři programu vyrobni.report</h2>
                          --><img src = "/_assets/images/hardwario.svg" class = "w-25 pt-20 pb-30 mr-20" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
</div>
<section>
  <div class="bg bg--gray">
      <div class="container">
          <div class = "row">
            <div class = "col-12 text-center">
              <h2 class="font-40 font-weight-black pt-20">{{ i18n "faq" | safeHTML }}</h2>
            </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="collapsor pt-20">
                    
                    <div class="collapsor__item">
                      <h2 class="collapsor__header collapsor__header--active">{{ i18n "faq_0" | safeHTML }}</h2>
                      <div class="collapsor__body collapsor__body--active">
                        {{ i18n "faq_0_desc" | safeHTML }}
                      </div>
                  </div>

                  <div class="collapsor__item">
                    <h2 class="collapsor__header collapsor__header--active">{{ i18n "faq_1" | safeHTML }}</h2>
                    <div class="collapsor__body collapsor__body--active">
                      {{ i18n "faq_1_desc" | safeHTML }}
                    </div>
                </div>

                  <div class="collapsor__item">
                      <h2 class="collapsor__header">{{ i18n "faq_2" | safeHTML }}</h2>
                      <div class="collapsor__body">
                        {{ i18n "faq_2_desc" | safeHTML }}
                      </div>
                  </div>
                  <div class="collapsor__item">
                    <h2 class="collapsor__header">{{ i18n "faq_3" | safeHTML }}</h2>
                    <div class="collapsor__body">
                      {{ i18n "faq_3_desc" | safeHTML }}
                    </div>
                </div>
                <div class="collapsor__item">
                  <h2 class="collapsor__header">{{ i18n "faq_4" | safeHTML }}</h2>
                  <div class="collapsor__body">
                    {{ i18n "faq_4_desc" | safeHTML }}
                  </div>
              </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<footer>
{{ end }}

{{ define "additional-scripts" }}

<script type="text/javascript">
  $('.playVideo').click(function(){
    $('#playVideo').modal({
      keyboard: false
    })
  });

</script>

<script>
  $("a.smooth[href^=\\#]").click(function(e) {
    e.preventDefault();
    var dest = $(this).attr('href');
    //console.log(dest);
    $('html,body').animate({ scrollTop: $(dest).offset().top }, 'slow');
  });
</script>




{{ end }}